apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: backend-with-db
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS items (
        id SERIAL PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
